body {
    background: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    background: #111;
    display: block;
    margin: 0 auto;
    border: 2px solid #00c3ff;
}