body{
    background-color: rgb(252, 252, 253);
    text-align: center;
    font-style: arial;
}

button{
background-color: rgb(203, 239, 247);
box-shadow: rgb(14, 10, 10);
box-sizing: border-box;
font-style: arial;
}
