body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
    font-family: Arial, sans-serif;
  }
  
  #game-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  canvas {
    border: 2px solid #000;
    background-color: #fff;
  }
  
  #ranking {
    margin-left: 20px;
    text-align: left;
  }
  
  #ranking h2 {
    margin: 0;
  }
  
  #ranking-list {
    list-style: none;
    padding: 0;
  }